# =========================
# Maven / Build Files
# =========================
target/
dependency-reduced-pom.xml
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# =========================
# IDE / Editor Files
# =========================
# Eclipse
.project
.classpath
.settings/
.factorypath

# IntelliJ IDEA
*.iml
.idea/

# VS Code
.vscode/

# =========================
# Logs & Reports
# =========================
*.log
logs/
test-output/
surefire-reports/

# =========================
# OS Files
# =========================
# macOS
.DS_Store
# Windows
Thumbs.db

# =========================
# Temporary / Backup Files
# =========================
*.tmp
*.temp
*.bak

# =========================
# Drivers / External Binaries
# =========================
drivers/
chromedriver
geckodriver

# =========================
# Data & Config Files
# =========================
*.json
*.xlsx
*.xls
*.csv
*.txt
*.properties