base.url=https://example.com
browser=chrome
timeout=30
excel_sheet_name=Sheet1
sms_list_name=automation_sms
sms_template_name=test_template
waba_list_name=automation_waba
waba_template_name=test_template